<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'global.css'}" />
    <link rel="stylesheet" href="{% static 'order.css'}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=SF Pro Text:wght@400;600&display=swap"
    />
  </head>
  <body>
    <div class="orderscreen">
      <div class="sign-up">
        <div class="login-options">
          <div class="text">
            <div class="div">주문</div>
          </div>
          <div class="form">
            <div class="text-field">
              <b class="title">주소</b>
              <div class="field">
                <div class="content">
                  <div class="unit">€</div>
                  <div class="text1">
                    <div class="placeholder">
                      북구 용봉로 77 공과대학7호관 1층
                    </div>
                    <img class="cursor-icon" alt="" src="./public/cursor.svg" />
                  </div>
                </div>
                <img class="icon" alt="" src="./public/icon.svg" />
              </div>
              <div class="support-text">Support text</div>
            </div>
            <div class="text-field1">
              <b class="title">일회용기 / 다회용기 선택 </b>
              <div class="field1">
                <div class="content">
                  <div class="unit">€</div>
                  <div class="text3">
                    <div class="placeholder">name@email.com</div>
                    <img
                      class="cursor-icon1"
                      alt=""
                      src="./public/cursor.svg"
                    />
                  </div>
                </div>
                <img class="icon" alt="" src="./public/icon.svg" />
              </div>
              <div class="support-text">Support text</div>
            </div>
            <div class="checkbox-variants">
              <div class="checkbox-parent-components">
                <div class="wrapper">
                  <div class="checkmark">
                    <img class="icon2" alt="" src="./public/icon1.svg" />
                  </div>
                </div>
                <div class="text-block">일회용기</div>
              </div>
            </div>
            <div class="checkbox-variants">
              <div class="checkbox-parent-components1">
                <div class="wrapper1">
                  <div class="checkmark1">
                    <img class="icon3" alt="" src="./public/icon2.svg" />
                  </div>
                </div>
                <div class="container">
                  <div class="text-block">다회용기</div>
                </div>
              </div>
            </div>
            <div class="checkbox-parent-components2">
              <div class="wrapper">
                <div class="checkmark">
                  <img class="icon2" alt="" src="./public/icon1.svg" />
                </div>
              </div>
              <div class="text-block">일회용 수저, 포크 주세요요</div>
            </div>
            <div class="text-field">
              <b class="title">가게 요청사항을 적어주세요요</b>
              <div class="field2">
                <div class="content">
                  <div class="unit">€</div>
                  <div class="text3">
                    <div class="placeholder">ex) 밥 많이 주세요 ~</div>
                    <img
                      class="cursor-icon1"
                      alt=""
                      src="./public/cursor.svg"
                    />
                  </div>
                </div>
                <img class="icon5" alt="" src="./public/icon3.svg" />
              </div>
              <div class="support-text">Support text</div>
            </div>
            <div class="text-field">
              <b class="title">포인트 사용 </b>
              <div class="field2">
                <div class="content">
                  <div class="unit">€</div>
                  <div class="text3">
                    <div class="placeholder">p</div>
                    <img
                      class="cursor-icon1"
                      alt=""
                      src="./public/cursor.svg"
                    />
                  </div>
                </div>
                <img class="icon5" alt="" src="./public/icon3.svg" />
              </div>
              <div class="support-text">Support text</div>
            </div>
            <b class="title"> 보유 포인트 : 20000p</b>
          </div>
        </div>
        <div class="option-1">
          <div class="credit-card-wrapper">
            <div class="credit-card">
              <img
                class="radio-button-icon"
                alt=""
                src="./public/radio-button.svg"
              />

              <b class="b">직접 결제</b>
            </div>
          </div>
          <div class="credit-card1">
            <img
              class="radio-button-icon1"
              alt=""
              src="./public/radio-button1.svg"
            />

            <b class="b">Credit Card</b>
          </div>
          <div class="cards">
            <div class="list-item">
              <div class="content4">
                <div class="title4">Mastercard</div>
                <div class="description">xxxx xxxx xxxx 1234</div>
              </div>
              <div class="right-button">
                <div class="fill"></div>
              </div>
            </div>
            <div class="list-item1">
              <div class="content4">
                <div class="title4">Visa</div>
                <div class="description">xxxx xxxx xxxx 9876</div>
              </div>
            </div>
            <div class="button-terciary">
              <div class="right-button">
                <div class="fill"></div>
              </div>
              <div class="button">Add new card</div>
              <div class="right-icon">
                <div class="fill"></div>
              </div>
            </div>
          </div>
          <div class="billing-address">
            <div class="checkbox">
              <div class="check">
                <div class="fill3"></div>
              </div>
            </div>
            <div class="my-billing-address">
              My billing address is the same as my shipping address
            </div>
          </div>
        </div>
        <div class="ios-status-bar">
          <div class="action">
            <div class="time">9:41</div>
          </div>
          <div class="container1">
            <div class="battery">􀛨</div>
            <div class="signal">
              <div class="rectangle"></div>
              <div class="rectangle1"></div>
              <div class="rectangle2"></div>
              <div class="rectangle3"></div>
            </div>
            <div class="wi-fi">􀙇</div>
          </div>
        </div>
      </div>
      <div class="choose-a-payment">Choose a payment method</div>
      <img
        class="pickuplogo-1-icon"
        alt=""
        src="./public/pickuplogo-1@2x.png"
      />

      <div class="button-primary">
        <div class="left-icon1">
          <div class="fill3"></div>
        </div>
        <div class="button">주문하기</div>
        <div class="right-icon">
          <div class="fill3"></div>
        </div>
      </div>
    </div>
  </body>
</html>